@model FamilyBalanceSheet.Models.IndexViewModel

@{
    ViewData["Title"] = "小遣い帳";
    decimal total = decimal.Zero;
}

<h1>小遣い帳</h1>

<p>
    <a asp-action="Create">項目を追加</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="SearchString">検索</label>
        <input class="form-control" asp-for="SearchString" />
    </div>
    <div class="form-group">
        <input type="submit" value="検索" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Income)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items!) {
            total += item.Income;
            total -= item.Expense;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">修正</a> |
                <a asp-action="Details" asp-route-id="@item.Id">詳細</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-auto">残高: </div>
        <div class="col">&yen;@total</div>
    </div>
    <div class="row">
        <form asp-controller="Requests" asp-action="Create" method="get">
            <input type="hidden" name="balance" value="@total" />
@if (string.IsNullOrEmpty(Model.SearchString)) {
            <input type="submit" class="btn btn-primary" value="リクエスト" />
}
        </form>
    </div>
</div>